/* body {
  background-color: rgb(242, 242, 242);
}
.navBar {
  text-align: center;
  background-color: rgb(64, 124, 142);
}
.navImg {
  background-image: url('house.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
input {
  margin: 10px;
  height: 200px;
  width: 100px;
}

.Tasks {
  margin: 20px;
  width: 300px;
  box-shadow: 0 0 20px 0 #fff;
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
}
.taskContainer {
  align-items: center;
}
.Time {
  text-align: center;
  box-shadow: 0 0 20px 0 rgb(64, 124, 142);
  margin: 25px;
  padding: 10px;
  background-color: rgb(64, 124, 142);
} */
